@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 66, 67, 156;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: 'Press Start 2P', cursive;
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
        rgb(var(--background-start-rgb));
}

.socialbtn {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(33 36 37 / var(--tw-bg-opacity));
    --tw-gradient-from: #fa5252;
    --tw-gradient-to: rgba(250, 82, 82, 0);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #dd2476;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socialbtn:hover {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.box {
    border-width: 2px 2px 15px 15px;
    border-image-slice: 0 0 12 12;
    border-image-source: linear-gradient(
        -45deg,
        transparent 9px,
        rgb(255, 216, 0) 0 calc(100% - 9px),
        transparent 0
    );
}

h3 {
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 24px;
    font-weight: bold;
}
